@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2BD17E;
  --error: #EB5757;
  --background: #093545;
  --input: #224957;
  --card: #092C39;
  --text: #EBEEF5;
}

@layer base {
  body {
    @apply bg-background text-text;
  }
  h1 {
    @apply text-5xl sm:text-7xl font-semibold;
  }
  h2 {
    @apply text-3xl sm:text-5xl font-semibold;
  }
}

@layer utilities {
}